#container {
  margin: 20px;
  font-size: 18px; /* main content size */
}

#container::before {
  content: "Before Element ";
  color: #f00; /* red color */
  font-size: 20px;
}

#container::after {
  content: " After Element";
  color: #f00; /* red color */
  font-size: 20px;
}
